
body::selection{
    background-color: #c65555;
    color: #000;
}
.container {
    max-width: 100%;
    height: 100%;
    background: black;
    padding: 76px 20px;
    box-sizing: border-box;

}

.logo {
    max-width: 100%;
    text-align: center;
}

.logo>h2 {
    font-family: Aquire;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.card {
    margin-top: 148px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.card>img {
    border-radius: 50%;
    max-height: 236px;
    max-width: 236px;
}

.card>h1 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

.card>h3 {
    font-size: 15px;
    font-weight: 500;
    color: #ffffffd5;
    margin: 8px 0px 14px 0px;
    font-family: "Open Sans";
}

.card>p {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #fff;
    max-width: 460px;

}

.social {
    max-width: 100%;
    margin-top: 42px;
    display: flex;
    text-align: center;
}
.span{
    width: 24px;
    height: 100%;
}
.social > a img {
    height: 34px;
    width: 34px;
}



@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 60px 50px;
    }
    .logo>h2 {
        font-size: 38px;
    }
    .card>img {
        max-height: 176px;
        max-width: 176px;
    }
    .card>h1 {
        font-size: 24px;
        margin-top: 30px;
    }
    .card>h3 {
        font-size: 16px;
    }
    .card>p {
        font-size: 16px;
    }
    .social>a img {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 551px) {
    .container {
        max-width: 100%;
        padding: 40px 40px;
        background: url('../images/bg.jpg');
        background-size: cover;
        height: 100vh;
    }
    .logo>h2 {
        font-size: 20px;
        text-align: left;
    }
    .card {
        
        max-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
       
    }
    .card>img {
        max-height: 132px;
        max-width: 132px;
    }
    .card>h1 {
        font-size: 20px;
        margin-top: 14px;
        text-align: left;
    }
    .card>h3 {
        font-size: 12px;
        text-align: left;
    }
    .card>p {
        font-weight: 400;
        margin-top: 14px;
        max-width: 400px;
        font-size: 13px;
        line-height: 26px;
        text-align: left;
    }
    .social{
        position: fixed;
        bottom: 40px;
        left: 40px;
    }
    .social>a {
        height: 20px;
        width: 20px;
    }
}